<p id="notice"><%= notice %></p>

<p>
  <b>Program week:</b>
  <%= @workout.program_week_id %>
</p>

<p>
  <b>Workout day name:</b>
  <%= @workout.workout_day_name %>
</p>

<p>
  <b>Workout number:</b>
  <%= @workout.workout_number %>
</p>

<p>
  <b>Number of exercises:</b>
  <%= @workout.number_of_exercises %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
