<h1>Listing exercise_groups</h1>

<table>
  <tr>
    <th>Exercise</th>
    <th>Weight</th>
    <th>Percentage of max</th>
    <th>Sets</th>
    <th>Reps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercise_groups.each do |exercise_group| %>
  <tr>
    <td><%= exercise_group.exercise_id %></td>
    <td><%= exercise_group.weight %></td>
    <td><%= exercise_group.percentage_of_max %></td>
    <td><%= exercise_group.sets %></td>
    <td><%= exercise_group.reps %></td>
    <td><%= link_to 'Show', exercise_group %></td>
    <td><%= link_to 'Edit', edit_exercise_group_path(exercise_group) %></td>
    <td><%= link_to 'Destroy', exercise_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise group', new_exercise_group_path %>
