<p id="notice"><%= notice %></p>

<p>
  <b>Exercise:</b>
  <%= @exercise_group.exercise_id %>
</p>

<p>
  <b>Weight:</b>
  <%= @exercise_group.weight %>
</p>

<p>
  <b>Percentage of max:</b>
  <%= @exercise_group.percentage_of_max %>
</p>

<p>
  <b>Sets:</b>
  <%= @exercise_group.sets %>
</p>

<p>
  <b>Reps:</b>
  <%= @exercise_group.reps %>
</p>


<%= link_to 'Edit', edit_exercise_group_path(@exercise_group) %> |
<%= link_to 'Back', exercise_groups_path %>
