<% content_for :selected_navigation do %>
  <% @selected_navigation = :journal %>
<% end %>
<div id="notebook">
  <h1 align="center">Journal</h1>
<table id ="journal">
  <tr>
    <%  if @date_of_workouts.count > 0 then %>
    <th><%=  "Date" %></th>
    <th><%=  "Description" %></th>
    <% end %>
  </tr>
<% @date_of_workouts.each do |date_of_workout| %>
  <tr>
    <td id="workout_date_index_col" ><%= date_of_workout.date.strftime("%B %d, %Y") %></td>
    <td><%= if !date_of_workout.description? then "Some kind of janky workout with no description" else date_of_workout.description end %></td>
    <td><%= link_to 'Show', date_of_workout %></td>
    <td><%= link_to 'Edit', edit_date_of_workout_path(date_of_workout) %></td>
    <td><%= link_to 'Delete', date_of_workout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h1><%= if @date_of_workouts.count == 0 then "Start Working Out!" end %></h1>

<%= link_to 'New Workout', new_date_of_workout_path %>
</div>