<div class ="fields">
  <div class="workout">
    <p>
      <fieldset>
        <input type="checkbox" class="parentCheckBox" id="everyday_checkbox"/>
        <label for="everyday_checkbox">Every Day</label>

        <%= f.check_box :sunday, :class =>"childCheckBox" %>
        <%= f.label :sunday, "Sunday", :class =>"childCheckBox" %>

        <%= f.check_box :monday, :class =>"childCheckBox" %>
        <%= f.label :monday, "Monday", :class =>"childCheckBox" %>

        <%= f.check_box :tuesday, :class =>"childCheckBox" %>
        <%= f.label :tuesday, "Tuesday", :class =>"childCheckBox" %>
      </p>
      <p>
        <%= f.check_box :wednesday, :class =>"childCheckBox" %>
        <%= f.label :wednesday, "Wednesday", :class =>"childCheckBox" %>
        
        <%= f.check_box :thursday, :class =>"childCheckBox" %>
        <%= f.label :thursday, "Thursday", :class =>"childCheckBox" %>

        <%= f.check_box :friday, :class =>"childCheckBox" %>
        <%= f.label :friday, "Friday", :class =>"childCheckBox" %>

        <%= f.check_box :saturday, :class =>"childCheckBox" %>
        <%= f.label :saturday, "Saturday", :class =>"childCheckBox" %>
      </fieldset>
        <%= link_to_remove_fields "Delete", f %>
    </p>
  <%= f.fields_for :exercises do |builder| %>
    <%= render 'exercise_fields', :f => builder %>
  <% end %>
  <div class="add_exercise_button"><%= link_to_add_fields "Add Exercises", f, :exercises %></div>
  </div>
</div>

