<div class ="fields">
  <div class="workout">
  <p>
    <%= f.label :workout_time, "Day" %>
    <%= f.text_field :workout_time, :style=>"background-color : #65B249", :size => 7, :class => "datepicker" %>
    <%= link_to_remove_fields "remove", f %><br/>
  </p>
  <%= f.fields_for :exercises do |builder| %>
    <%= render 'exercise_fields', :f => builder %>
  <% end %>
  <div class="add_exercise_button"><%= link_to_add_fields "Add Exercises", f, :exercises %> Exercise</div>
  </div>
</div>

<script type="text/javascript">
  jQuery(function() {
	jQuery(".datepicker").datepicker();
	return false;
  });
</script>