<div class ="fields">
  <div class="workout">
  <p>
    <%= f.label :workout_time, "Day" %>
    <%= f.text_field :day, :size => 12 %>
    <%= link_to_remove_fields "Delete", f %><br />
  </p>
  <%= f.fields_for :exercises do |builder| %>
    <%= render 'exercise_fields', :f => builder %>
  <% end %>
  <div class="add_exercise_button"><%= link_to_add_fields "Add Exercises", f, :exercises %></div>
  </div>
</div>