<% content_for :selected_navigation do%>
  <% @selected_navigation = :athletic_programs %>
<% end %>


<div id="notebook">
  <h1 align="center">Programs</h1>
<table id ="journal">
  <tr>
    <%  if @athletic_programs.count > 0 then %>
    <th><%=  "Name" %></th>
    <th><%=  "Description" %></th>
    <% end %>
  </tr>

<% @athletic_programs.each do |athletic_program| %>
  <tr>
    <td><%= athletic_program.name %></td>
    <td><%= if !athletic_program.description? then "Some kind of janky program with no description" else athletic_program.description end %></td>
    <td><%= link_to 'Show', athletic_program %></td>
    <td><%= link_to 'Edit', edit_athletic_program_path(athletic_program) %></td>
    <td><%= link_to 'Delete', athletic_program, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h1><%= if @athletic_programs.count == 0 then "Start Programming!" end %></h1>

<%= link_to 'New Program', new_athletic_program_path %>
</div>