<h1>Listing exercises</h1>

<table>
  <tr>
    <th>Workout</th>
    <th>Exercise name</th>
    <th>Exercise number</th>
    <th>Number of exercise groups</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.workout_id %></td>
    <td><%= exercise.exercise_name %></td>
    <td><%= exercise.exercise_number %></td>
    <td><%= exercise.number_of_exercise_groups %></td>
    <td><%= link_to 'Show', exercise %></td>
    <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
    <td><%= link_to 'Destroy', exercise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise', new_exercise_path %>
