<p id="notice"><%= notice %></p>

<p>
  <b>Workout:</b>
  <%= @exercise.workout_id %>
</p>

<p>
  <b>Exercise name:</b>
  <%= @exercise.exercise_name %>
</p>

<p>
  <b>Exercise number:</b>
  <%= @exercise.exercise_number %>
</p>

<p>
  <b>Number of exercise groups:</b>
  <%= @exercise.number_of_exercise_groups %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
